.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}
.about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.vision{
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 70px;
    color: #FF7E3E;
    margin-left: 15px;
}
.vision__box {
    display: flex;
    flex-direction: row;

}
.vision__box div{
    background: #FFFFFF;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-right: 50px;
}
.vision__box div p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    padding: 20px 40px;

}
.vision__box img {
    width: 500px;
}
.mission {
    margin-left: 15px;
    margin-top: 150px;
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 70px;
    color: #FF7E3E;
}
.mission__box {
    flex-direction: row-reverse;
}
.mission__box div {
    margin-right: 0;
    margin-left: 50px;
}


/* Responsive */

@media (max-width: 798px){
    .vision__box img{
        width: 300px;
        height: auto;
    }
    .vision__box div{
        margin-right: 0px;
    }
    .vision__box div p{
        font-size: 14px;
        line-height: 25px;
    }
    .vision__box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mission__box div{
        margin-left: 0px;
    }
    .vision{
        font-size: 50px;
        line-height: normal;
        margin-top: 0;
    }
    .mission{
        font-size: 50px;
        line-height: normal;
        margin-top: 100px;
        flex-direction: row;
    }
}