.contact__container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: -200px;

}
.contact{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    background-color: white;
    justify-content: space-evenly;
    border: 2px solid #E9ECEF;
    border-radius: 10px;
}

.contact__box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    width: 480px;
    height: fit-content;

    padding: 35px;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
}
.contact__box .text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ADB5BD;
    margin-bottom: 5px;

}
.contact__box .text span {
    color: #FF0000;
}
.contact__box .input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 30px;
    width: 300px;
}
.contact__box textarea{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 120px;
}
.contact__box .button {
    margin: 0px 05px;
    font-size: 1rem;
    background: #FF7E3E;
    border: 1px solid #FF7E3E;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: fit-content;
    margin-bottom: 75px;
}
.contact__text{
    margin-top: 80px;
}
.contact__text span{
    width: 127.31px;
    height: 23.5px;
    background: #FF6C5F;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 13.5px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;

}
.contact__text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    /* or 128% */

    display: flex;
    align-items: center;
    letter-spacing: -1.44px;

    color: #343A40;
}


/* Responsive */

@media (max-width: 798px){
    .contact{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        grid-template-columns: auto;
        justify-content: center;
        width: 100%;
    }
    .contact__box{
        width: 70%;
        align-self: center;
    }
    
    .contact__box .input{
        width: 250px;
    }
    .contact__container{
        margin-bottom: -70px;
    }
    .contact__text{
        margin-top: 50px;
        margin-left: 20px;
    }
    .contact__text p {
        line-height: normal;
        margin-top: 0;
    }
}