.nav{
    display: grid;
    grid-template-columns: 2rem 1fr 2fr 1.8fr 2rem;
    width: 100%;
    height: 75px;
    position: fixed;
    backdrop-filter: blur(4px);
    background: hsla(0,0%,100%,.25);
    z-index: 9999;
    
}

.logo-top{
    grid-column: 2/3;
    cursor: pointer;
    width: 245px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: start;
    align-items: center;
    align-self: center;

}
.nav-list{
    grid-column: 3/4;
    display: flex;
    align-items: center;
}
.nav_btns{
    grid-column: 4/5;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}
.nav-btn{
    text-decoration: none;
    padding: 10px 40px;
    
    border-radius: 8px;
}
#nav-btn1{
    background-color: white;
}
#nav-btn2{
    background-color: #FF7E3E;
}
.nav-link{
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(57, 61, 65);
}
.nav-link:hover {
    color: #FF7E3E;
}
.hamburger-menu {
    display: none;
  }
  .nav_btns_mobile{
    display: none;

  }
  .menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #donate {
    margin: 0px 05px;
    font-size: 1rem;
    background: #FF7E3E;
    border: 1px solid #FF7E3E;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  #donate:hover,
  #donate:active {
    background-color: white;
    background-position: 0 0;
    color: #FF7E3E;
  }
  
  #volunteer {
    margin: 0px 05px;
    font-size: 1rem;
    background: white;
    border: 1px solid #FF7E3E;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FF7E3E;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  #volunteer:hover,
  #volunteer:active {
    background-color: #FF7E3E;
    background-position: 0 0;
    color: white;
  }
  
  button:active {
    opacity: 0.5;
  }


  /* Responsive */
  @media (max-width: 998px) {
    .nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
    .nav_btns{
        display: none;
    }
    .nav_btns_mobile{
        display: block;
    }
  
    .logo{
      height: 7rem;
    }
  
    .mobile-menu-link {
        width: 70%;
        position: absolute;
        right: 0px;
        top: 90px;

    }
  
    .mobile-menu-link {
      background-color: white;
      height: 50vh;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu-link .nav-list {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
  
    .hamburger-menu {
      display: block;
      position: absolute;
      right: 30px;
      top: 30px;
      font-size: 2.5rem;
      justify-content: end;
      z-index: 999;
    }
  }
  
  @media (max-width: 798px) {
    .nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
  
    .logo {
      height: 6rem;
    }
  

  
    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .nav {
      height: 4rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo-top{
      height: 2.5rem;
      width: auto;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
    }
    .hamburger-menu {
        
        right: 20px;
        top: 20px;
      }
      .mobile-menu-link{
        top: 4rem;
        padding-left: 0rem;
      }
      .nav-btn{
        padding: 7px 7px;
      }
  }  