.intro {
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
}
.intro:nth-child(2n)::before {
    background: linear-gradient(45deg, #e8505b, rgba(232, 80, 91, 0.5)) !important;
    -webkit-transform: scale(130%);
            transform: scale(130%);
    left: auto;
    right: -100px;
}
.intro:nth-child(2n) h1{
    flex-direction: row-reverse;
}
.intro:last-of-type::before {
    display: none !important;
}
.intro .intro-left {
    width: 50%;
    display: inline-block;
    margin-right: 5vw;
}
.intro *:not(.cta) {
    margin: 20px 0;
}

.intro h1 {
    padding-bottom: 0.5em;
    position: relative;
    font-style: normal;
font-weight: 700;
font-size: 77.68px;
line-height: 88px;
/* or 113% */

display: flex;
align-items: center;

color: #606060;
}
.intro h1::after {
    position: absolute;
    display: block;
    bottom: 0;
    content: "";
    width: 2em;
    height: 0.9rem;
    border-radius: 2em;
    background: #e8505b;
}
.intro .intro-right{
    margin-left: 5vw;
    width: 40%;
    text-align: end;
}
.intro .intro-right h1::after {
    right: 0;
    background-color: #008b6f !important;
}
.intro img {
    width: auto;
    max-width: 500px;
    display: block;
}
.wrapper2{
    display: flex;
    flex-direction: column;
}
.content{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #606060;
}
.cta{
    background-color: #008b6f;
    padding: 13px 2.2em;
    display: inline-block;
    border-radius: 10px;
    color: white !important;
    cursor: pointer;
    font: Product-Bold, Arial, Helvetica;
}
.cta:not(.small):hover{
    opacity: 0.9;
}
.cta.small {
    padding: 10px !important;
}
.cta.red {
    background-color: #e8505b;
}
.intro-right a {
    text-decoration: none;
}
.intro-left a {
    text-decoration: none;
}