.services{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}
.services h1 {
    font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 62px;
letter-spacing: -0.413168px;
}
.services__box{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
}
.service {
    width: 465px;
    height: 300px;
    margin-top: 8px;
    background: #F6EED9;
    border: 1px solid #F5E6BF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    justify-content: space-between;

    margin-top: 20px;
}
.service img{
    height: 200px;
}
.service div h1 {
    font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 40px;
}
.service div button{
    background: #FF7E3E;
    border-radius: 8px;
    height: 50px;
    width: 145px;
    border: none;
}