.story{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counters {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80%;
    align-self: center;
}
.counter1 h1{
    font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 20px;
letter-spacing: -0.48px;
text-align: center;


color: #847E7C;
}
.counter1 div {
    text-align: center;
    font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 88px;
}

.story__box {
    display: grid;
    width: 90%;
    grid-template-areas: 'title img1  img2' 'video video img3' 'video video title2' ;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    
}

.story__title{
    grid-area: title;
}
.story__img1 {
    grid-area: img1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    border: 15px solid #D6D6D6;
}
.story__img2 {
    grid-area: img2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    border: 15px solid #D6D6D6;
}
.youtube-video {
    grid-area: video;
    width: 445px;
    height: 290px;
}
.story__img3 {
    grid-area: img3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 350px;
    border: 15px solid #D6D6D6;
}
.story__title2 {
    grid-area: title2;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-top: 0;
}